#section-skills {
  padding: 10rem 5rem;
  background-color: $color-black;

  min-height: 100vh;
}

.skills__text {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 5rem;
  .heading2 {
    align-self: flex-start;
  }

  .paragraph {
    width: 30%;
  }
}

.skills__content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: 1100px) {
    flex-direction: column;
  }
}

.skills__img {
  width: 30%;
  display: block;
  text-align: center;

  @media only screen and (max-width: 1100px) {
    width: 100%;
  }

  svg {
    margin: 0 auto;
    width: 100%;
    @media only screen and (max-width: 1100px) {
      width: 70%;
      transform: translateX(15%);
    }
  }
}

.cards-container {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  align-items: center;
  justify-content: center;
  gap: 10rem;

  @media only screen and (max-width: 1100px) {
    width: 80%;
  }
  @media only screen and (max-width: 650px) {
    width: 50%;
  }
}
