h1 {
  font-size: 3rem;
}
p {
  font-size: 2rem;
}

body {
  font-family: "Montserrat", sans-serif;
}
.navbar {
  padding: 1% 10%;
}
.navbar-brand {
  font-family: "Lemonada", cursive;
}

#top-section {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(/images/scooter-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 680px;
  text-align: center;
  color: white;
}

.heading1 {
  padding-bottom: 5%;
  font-weight: 900;
}

/* section 2 */
#features {
  padding: 3%;
  text-align: center;
}

h6 {
  font-size: 2rem;
  font-weight: 900;
}

/* section 3 */
#third {
  background-color: #fff3e2;
  padding: 3%;
}

.features-paragraphs {
  font-size: 1.5rem;
  text-align: center;
}

.andrea {
  width: 460px;
  border-radius: 50%;
}

.city {
  width: 460px;
  height: 518px;
  border-radius: 50%;
}

/* last one */

#last {
  background-color: #f9f7cf;
  text-align: center;
  padding: 3% 15%;
  width: auto;
  height: 200px;
}

.download {
  margin: 5% 3% 5% 0;
}

.hovertest {
  transition: 1s;
  transform: scale(1.2);
}
